#menubar #MenuBar1 li .MenuBarItemSubmenu {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFF;
}
#menubar #MenuBar1 li a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}
